<html>

<head>
    <title>Social Network</title>
    <link rel="stylesheet" href="/public/css/main.min.css">
    <link rel="stylesheet" href="/public/css/style.css">
    <link rel="stylesheet" href="/public/css/color.css">
    <link rel="stylesheet" href="/public/css/responsive.css">
</head>

<body>

    <div class="theme-layout">
    <div class="topbar stick">
        <div class="logo">
            <a href="/">
<<<<<<< HEAD
                <img width="100" height="150"src="/public/img/widepeepo.jpg">
=======
                <img width="100px" height="150px" src="/public/img/widepeepo.jpg">
>>>>>>> b4b557a140529f97316a7f07224903943323d8bc
            </a>
        </div>

        <div class="top-area">
            <ul class="main-menu" id="main-menu"></ul>

            <ul class="setting-area"></ul>

        </div>
    </div>
    </div>
    <script>
        var mainURL = "http://localhost:3000";
    </script>
    <style>
        #post-img-preview,
        #post-video-preview {
            height: 300px;
            width: 300px;
            object-fit: cover;
        }
    </style>
</body>
</html>
